
.header{

  display: flex;
  justify-content: space-between;
  margin:auto;
  width:80%;
}



.logo, .menu {
  display: inline-block;
}



.logo {
  padding: 40px 0;
}



.menu {
  display: flex;
  align-items: center;
  color: green;
  font-weight: bold;
}


.menu__item {
  padding: 0 13px;
}



.main-section{
  margin:auto;
  width:80%;
}


.main-content__title{
  font-family: 'Pacifico', cursive;
  color: pink;
  font-weight: bold;
}


.main-content__subtitle{
  font-family: 'Pacifico', cursive;
  color: pink;
}


.main-content__button{
  color:green;
}







