
.header{

  padding: 40px 0;
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}

.wrapper{
  margin:auto;
  width:80%;
}

.logo, .menu {
  display: inline-block;
}


.logo {
 position: relative;
 padding: 40px 0;
 padding-left: 44px;
 font: bold 24px/31px "pt serif", arial, helvetica, sans-serif;
}

.logo__circle{
 position: absolute;
 left:0;
 width: 28px;
 height: 28px;
 top: 50%;
 transform: translateY(-50%);
 border-radius: 50%;
 opacity: 0.7;
}


.logo__circle_color_dark-blue {
 background: #0056EC;
}


.logo__circle_color_blue {
 left: 8px;
 top: 56%;
 background: #C8DBFB;
}



.menu {
  display: flex;
  align-items: center;
  color: green;
  font-weight: bold;
}


.menu__item {
   position: relative;
   margin-right: 26px;
   font: 500 18px/21px Roboto, arial, helvetica, sans-serif;
   color: #000;
   text-decoration: none;
}

.menu__item:after {
   position: absolute;
   left: 0;
   display: block;
   content: '';
   width: 0;
   height: 3px;
   background: #0056EC;
   opacity: 0;
   transition: opacity .5s, width .5s;
}


.menu__item:hover {
   opacity: 0.5;
}


.menu__item:hover:after, .menu__item_active:after {
   opacity: 1;
   width: 100%;
}




.main {
 Width: 434px;
 padding-top: 100px;
 padding-right: 63%;
 background: top right no-repeat url(img/mainImg.svg);
}


.main__title {
 margin: 0 0 40px 0;
 font: bold 50px/65px "pt serif", arial, helvetica, sans-serif;
}

.main__subtitle {
 margin: 0 0 41px 0;
 font: 18px/21px Roboto, arial, helvetica, sans-serif;
}


.main__button {
 font: 14px/16px Roboto, arial, helvetica, sans-serif;
}



.main__title-text_highlight {
 background: #ECF3FF;
}

.main__button{
 display: inline-block;
 font: 14px/16px Roboto, arial, helvetica, sans-serif;
 color: #fff;
 background: #0056EC;
 padding: 14px 16px;
 text-decoration: none;
 border-radius: 4px;
 transition: opacity .5s;
}

.main__button:hover {
 opacity: .5;
}
