.header{

  padding: 0px 0px 0px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 142px;
}

.wrapper{
  margin:auto;
  width:81%;
  margin-left: 197px;
}

.logo, .menu {
  display: inline-block;
}


.logo {
  position: relative;
  padding: 31px;
  padding-left: 42px;
  font: bold 24px/31px "pt serif", arial, helvetica, sans-serif;
}


.logo__circle{
  position: absolute;
  left:0;
  width: 28px;
  height: 28px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  opacity: 0.7;
}

.logo__circle_color_dark-blue {
  background: #0056EC;
}

.logo__circle_color_blue {
  left: 8px;
  top: 56%;
  background: #C8DBFB;
}

#menu__toggle {
  display: none;
}

.hamburger-menu {
  display: none  ;
}

.menu {
  display: flex;
  align-items: center;
  color: green;
  font-weight: bold;
  padding-top: 4px;
}

.menu__item {
  position: relative;
  font: 500 19px/27px Roboto, arial, helvetica, sans-serif;
  color: #000;
  text-decoration: none;
}

.menu__item_start{
  margin-right: 23px;
}

.menu__item_active{
  margin-right: 21px;
}

.menu__item_about{
  margin-right: 27px;
}

.menu__item_blog{
  margin-right: 24px;
}

.menu__item_contact{
  margin-right: 18px;
}

.menu__item:after {
  position: absolute;
  left: 0;
  display: block;
  content: '';
  width: 0;
  height: 3px;
  background: #0056EC;
  opacity: 0;
  transition: opacity .5s, width .5s;
}

.menu__item:hover {
  opacity: 0.5;
}

.menu__item:hover:after, .menu__item_active:after {
  opacity: 1;
  width: 100%;
}

.main {
  background: top right no-repeat url(img/mainImg.svg);
  Width: 525px;
  padding-top: 6px;
  padding-right: 1000px;
  padding-bottom: 164px;
}

.main__title {
  margin: 67px 0px 22px 0px;
  font: bold 66px/87px "pt serif", arial, helvetica, sans-serif;
  font-weight:700;
}

.main__subtitle {
  margin: 36px 50px 43px -4px;
  font: 22px/25.78px Roboto, arial, helvetica, sans-serif;
  font-weight:400;
}

.main__title-text_highlight {
  background: linear-gradient(to bottom, #f3f3f300 18%, #ECF3FF 20%);
}


.main__button {
  display: inline-block;
  font: 18px/26px Roboto, arial, helvetica, sans-serif;
  color: #fff;
  background: #0056EC;
  padding: 18px 27px 13px;
  text-decoration: none;
  border-radius: 7px;
  transition: opacity .5s;
  font-weight:500;
}

.main__button:hover {
  opacity: .5;
}

.circle__img {
  background: url(img/circle.svg);
 position: absolute;
 left: 951px;
 width: 32px;
 height: 8px;
 top: 1032px;
}






/*Для размера 1366px*/

@media (max-width: 1370px){

.wrapper {
  width: 70%;
  margin-left: 203px;
}

.header {
  margin-bottom: 93px;
  padding: 0px 0 0px 17px;
  margin-bottom: 97px;nt: bold 23px/31px "pt serif", arial, helvetica, sans-serif;
}

.logo {
  padding: 31px;
  padding-left: 44px;
  font: bold 24px/31px "pt serif", arial, helvetica, sans-serif;
}

.menu {
  padding-top: 10px;
}

.menu__item {
    font: 500 14px/17px Roboto, arial, helvetica, sans-serif;
}

.menu__item_start {
    margin-right: 25px;
}

.menu__item_blog {
    margin-right: 27px;
}

.menu__item_about {
    margin-right: 27px;
}

.menu__item_active {
    margin-right: 25px;
}

.menu__item_contact {
    margin-right: 4px;
}


.main {
  Width: 437px;
  padding-top: 6px;
  padding-right: 505px;
  padding-bottom: 82px;
  background-size: 53.9%;
}


.main__title {
  margin: 9px 31px 22px 16px;
  font: bold 50px/65px "pt serif", arial, helvetica, sans-serif;
  }

.main__subtitle {
  margin: 37px 45px 39px 15px;
  font: 18px/23.78px Roboto, arial, helvetica, sans-serif;
}
.main__button {
    font: 14px/24px Roboto, arial, helvetica, sans-serif;
    padding: 9px 12px 11px 29px;
    margin-left: 17px;
    border-radius: 4px;
}

.circle__img {
  left: 674px;
  top: 722px;
}












/*Для размера 1024px*/
@media (max-width: 1025px){

.wrapper {
  margin-left: 46px;
  margin-right: 0px;
  width: 93%;
}
.header {
  padding: 10px 0 58px;
  margin-bottom: 44px;
}

.logo {
  padding: 22px;
  padding-left: 44px;
}

.menu{
  padding-top: 8px;
}

.menu__item {
  font: 500 14px/16px Roboto, arial, helvetica, sans-serif;
}

.menu__item_contact {
  margin-right: 5px;
}

.menu__item_blog {
  margin-right: 28px;
}
.menu__item_active {
  margin-right: 25px;
}

.main {
  Width: 425px;
  padding-top: 3px;
  padding-right: 506px;
  padding-bottom: 120px;
  background-size: 55.3%;
}


.main__title {
  margin: 14px 26px 16px 0px;
  font: bold 50px/64px "pt serif", arial, helvetica, sans-serif;
}

.main__subtitle {
  margin: 41px 47px 38px 0px;
  font: 18px/23.68px Roboto, arial, helvetica, sans-serif;
}
.main__button {
  font: 15px/28px Roboto, arial, helvetica, sans-serif;
  padding: 8px 14px 9px;
  margin-left: 1px;
}

.circle__img {
  left: 504px;
  top: 722px;
}
}




/*Для размера 375px*/
@media (max-width: 768px){

.logo {
  padding: 15px;
}


.logo__circle_color_blue {
    top: 67%;
 }

.text {
   display: none;
}
.wrapper{
   width: 93%;
   margin-left: 24px;
 }

 .header {
   margin-bottom: 34px;
   padding: 14px 0px 0px;
 }

.main {
    width: 277px;
    padding: 72% 49px 0 0;
    background-size: 86%;
    background-position: top center;
    text-align: center;
 }

.main__title {
   margin: 21px -9px 26px 44px;
   font: bold 30px/39px "pt serif", arial, helvetica, sans-serif;
   src: url("../font/ptserif-regular-webfont.ttf") format("truetype");
   }

.main__subtitle {
  margin: 34px -9px 25px 46px;
  font: 500 16px/19px Roboto, arial, helvetica, sans-serif;
}

.main__button {
  margin-left: 51px;
  padding: 11px 20px 16px;
  font: 500 14px/17px Roboto, arial, helvetica, sans-serif;
}
.circle__img{
  display: none;
}

}
/* стилизуем кнопку */

.newimg{
  position: fixed;
  left: 334px;
  width: 25px;
  height: 5px;
  top: 40px;
  cursor: pointer;
  z-index: 1;
  display: flex;
 }

/* добавляем "гамбургер" */
.newimg > span,
.newimg > span::before,
.newimg > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #0056EC;
}
.newimg > span::before {
  content: '';
  top: -8px;
}
.newimg > span::after {
  content: '';
  top: 8px;
}


}
/* контейнер меню */
.menu {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 176px 15px;
  list-style: none;
  text-align: center;
  background-color: #ECEFF1;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
}
/* элементы меню */
.menu__item {
    display: block;
    padding: 21px 24px;
    color: #333;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    font: 500 29px/17px Roboto, arial, helvetica, sans-serif;
}

.menu__item_active:after {
  opacity: 1;
  width: 0;
}
.menu__item_contact {
    margin-right: 28px;
    top: 3px;
}

.menu__item:hover {
  background-color: #CFD8DC;
}

#menu__toggle:checked ~ .newimg > span {
  transform: rotate(45deg);
}
#menu__toggle:checked ~ .newimg > span::before {
  top: 0;
  transform: rotate(0);
}
#menu__toggle:checked ~ .newimg > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu {
  visibility: visible;
  left: 0;
}
}
