
.header{

  padding: 0px 0px 100px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 141px;
}

.wrapper{
  margin:auto;
  width:80%;
}

.logo, .menu {
  display: inline-block;
}


.logo {
  position: relative;
  padding: 31px;
  padding-left: 43px;
  font: bold 24px/31px "pt serif", arial, helvetica, sans-serif;
}


.logo__circle{
  position: absolute;
  left:0;
  width: 28px;
  height: 28px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  opacity: 0.7;
}


.logo__circle_color_dark-blue {
  background: #0056EC;
}


.logo__circle_color_blue {
  left: 8px;
  top: 56%;
  background: #C8DBFB;
}





.menu {
  display: flex;
  align-items: center;
  color: green;
  font-weight: bold;
  padding-top: 4px;
}


.menu__item {
  position: relative;
  font: 500 19px/27px Roboto, arial, helvetica, sans-serif;
  color: #000;
  text-decoration: none;
}

.menu__item_start{
  margin-right: 23px;
}

.menu__item_active{
  margin-right: 21px;
}

.menu__item_about{
  margin-right: 25px;
}

.menu__item_blog{
  margin-right: 24px;
}

.menu__item_contact{
  margin-right: 6px;
}

.menu__item:after {
  position: absolute;
  left: 0;
  display: block;
  content: '';
  width: 0;
  height: 3px;
  background: #0056EC;
  opacity: 0;
  transition: opacity .5s, width .5s;
}


.menu__item:hover {
  opacity: 0.5;
}


.menu__item:hover:after, .menu__item_active:after {
  opacity: 1;
  width: 100%;
}







.main {
 padding: 0 0 0px 2px;
 background: top right no-repeat url(img/mainImg.svg);
  Width: 515px;
  padding-top: 14px;
  padding-right: 1016px;
  padding-bottom: 150px;
}

.main__title {
  margin: 61px 0px 36px 3px;
  font: bold 66px/87px "pt serif", arial, helvetica, sans-serif;
}

.main__subtitle {
  margin: 35px 71px 40px 3px;
  font: 22px/27px Roboto, arial, helvetica, sans-serif;
}



.main__title-text_highlight {
    background: linear-gradient(to bottom, #f3f3f300 18%, #ECF3FF 20%);
  }



.main__button{
  display: inline-block;
  font: 19px/22px Roboto, arial, helvetica, sans-serif;
  color: #fff;
  background: #0056EC;
  padding: 18px 25px;
  text-decoration: none;
  border-radius: 4px;
  transition: opacity .5s;
}


.main__button:hover {
  opacity: .5;
}

.circle__img{
  background: url(img/circle.svg);
 position: absolute;
 left: 944px;
 width: 32px;
 height: 8px;
 top: 1032px;
}
